*{
    box-sizing: border-box;
}
.d-none {
    display: none!important;
}

form {
    box-sizing: border-box;
    width: 300px;
    margin: 0 auto;
}

form input {
    padding: 10px;
    display: block;
    width: 100%;
}

.drag_zone{
    border: 2px dashed blueviolet;
    height: 100px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}
.drag_zone:hover{
    border: 2px solid rgb(53, 34, 178);
    background-color: rgba(127, 255, 212, 0.458);
}
.drag_preview{
    width: 100%;
}
.drag_preview_item{
    height: 75px;
    border: 1px solid black;

}
/* .drag_preview_item::after{
    position: absolute;
    content: "x";
    color: black;
    height: 10px;
    top: 0;
    right: 0;
} */
.main_item{
    position: relative;
    display: inline-block;
    
}
.close_item{
    height: 7px;
    width: 7px;
    color: darkgreen;
    position: absolute;
    right: 3px;
    top: -3px;
    cursor: pointer;
}



